/*Configurações gerais*/
body {
    background: #f4f2ec url(../img/fundo.png) repeat-x;
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
#container {
    margin: auto;
    width: 1080px;
}
ul {
    list-style: none;
}
a:link, a:active, a:visited {
    text-decoration: none;
    color: #af670a;
}
a:hover {
    color: #227115;
}
/*Cabeçalho do site*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 0;
    height: 55px;
}

/*Cabeçalho do site: navegação*/
header nav ul li {
    float: left;
}
header nav ul li a:link {
    display: block;
    margin-right: 25px;
    padding-bottom: 3px;
    text-transform: uppercase;
}
header nav li a:hover {
    border-bottom: 1px solid #535858;
}

/*Corpo do site*/
#main-content-box h4, #main-content-box h3 {
    text-transform: uppercase;
    padding-bottom: 3px;
    margin-bottom: 0;
}
/*Corpo do site: principal*/
main ul {
    list-style-type: circle;
}
#main-content-box {
    display: flex;
    justify-content: space-between;
}
main {
    width: 710px;
}
main #secondary-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
}
main #secondary-content article {
    margin-bottom: 20px;
    width: 330px; 
    height: 210px
}
main h3 {
    color: #227115;
    font-size: 1em;
}
main iframe {
    margin: 10px 0 0 5px;
}
main #secondary-content li:nth-last-child(1){
    font-weight: bolder;
}
main #secondary-content span a {
    font-weight: bolder;
}
/*Corpo do site: lateral*/
aside {
    float: right;
    width: 350px;
    background-color: #ebe7dd;
}
aside section#visitation {
    margin-top: 10px;
    background: #cdc8b1;
    padding: 10px 27px 27px 27px;
}
aside h4 {
    color: #86521a;
}
aside section#visitation form fieldset {
    border: none;
}
aside section#visitation form fieldset legend {
    display: none;
}
aside section#visitation form fieldset input {
    width: 90px;
    height: 20px;
    background: #fff;
    border: 1px solid #ada484;
    font-size: 1em;
}
aside section#visitation form fieldset input#number {
    width: 50px;
}
aside section#visitation form input[type="submit"] {
    background: #9b9271;
    color: white;
    width: 100%;
    height: 40px;
    font-size: 1.2em;
}
aside section#gallery div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 270px;
    padding: 40px;
    padding-top: 10px;
}
aside section#gallery h4 {
    padding-left: 25px;
}
aside section#gallery div .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background: url(../img/fundo-foto.png) no-repeat center;
    width: 126px;
    height: 133px;
}